
<h1>Stupid Coaching</h1>

<div class="container">
  <%= @question %><br>
  <p>-You</p>
</div>

<div class="banner">
  <%= @answer %><br>
  <p>-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
